.line1{
    background-color: sienna;
}
.line2{
    background-color: aquamarine;
}
.line3{
    background-color: darkgoldenrod;
}
.line1 ,.line2 ,.line3{
    line-height: 50px;
}
.selCount{
    span{
        font-size: 20px;
        color: red;
    }
}